/Praca/*.aux
/Praca/*.log
/Praca/*.out
/Praca/*.synctex.gz
/Praca/*.toc

/Praca/1.Wstep/*.aux
/Praca/1.Wstep/*.log
/Praca/1.Wstep/*.out
/Praca/1.Wstep/*.synctex.gz
/Praca/1.Wstep/*.toc

/Praca/2.Szablony/*.aux
/Praca/2.Szablony/*.log
/Praca/2.Szablony/*.out
/Praca/2.Szablony/*.synctex.gz
/Praca/2.Szablony/*.toc

/Praca/2.Szablony/Wstep/*.aux
/Praca/2.Szablony/Wstep/*.log
/Praca/2.Szablony/Wstep/*.out
/Praca/2.Szablony/Wstep/*.synctex.gz
/Praca/2.Szablony/Wstep/*.toc

/Praca/2.Szablony/Podrozdzial1/*.aux
/Praca/2.Szablony/Podrozdzial1/*.log
/Praca/2.Szablony/Podrozdzial1/*.out
/Praca/2.Szablony/Podrozdzial1/*.synctex.gz
/Praca/2.Szablony/Podrozdzial1/*.toc

/Praca/2.Szablony/Podrozdzial2/*.aux
/Praca/2.Szablony/Podrozdzial2/*.log
/Praca/2.Szablony/Podrozdzial2/*.out
/Praca/2.Szablony/Podrozdzial2/*.synctex.gz
/Praca/2.Szablony/Podrozdzial2/*.toc

/Praca/2.Szablony/Podrozdzial3/*.aux
/Praca/2.Szablony/Podrozdzial3/*.log
/Praca/2.Szablony/Podrozdzial3/*.out
/Praca/2.Szablony/Podrozdzial3/*.synctex.gz
/Praca/2.Szablony/Podrozdzial3/*.toc

/Praca/3.Koncepty/Podrozdzial1/*.aux
/Praca/3.Koncepty/Podrozdzial1/*.log
/Praca/3.Koncepty/Podrozdzial1/*.out
/Praca/3.Koncepty/Podrozdzial1/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial1/*.toc

/Praca/3.Koncepty/Podrozdzial2/*.aux
/Praca/3.Koncepty/Podrozdzial2/*.log
/Praca/3.Koncepty/Podrozdzial2/*.out
/Praca/3.Koncepty/Podrozdzial2/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial2/*.toc

/Praca/3.Koncepty/Podrozdzial3/*.aux
/Praca/3.Koncepty/Podrozdzial3/*.log
/Praca/3.Koncepty/Podrozdzial3/*.out
/Praca/3.Koncepty/Podrozdzial3/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial3/*.toc

/Praca/3.Koncepty/Podrozdzial4/*.aux
/Praca/3.Koncepty/Podrozdzial4/*.log
/Praca/3.Koncepty/Podrozdzial4/*.out
/Praca/3.Koncepty/Podrozdzial4/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial4/*.toc

/Praca/3.Koncepty/Podrozdzial5/*.aux
/Praca/3.Koncepty/Podrozdzial5/*.log
/Praca/3.Koncepty/Podrozdzial5/*.out
/Praca/3.Koncepty/Podrozdzial5/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial5/*.toc

/Praca/3.Koncepty/Podrozdzial6/*.aux
/Praca/3.Koncepty/Podrozdzial6/*.log
/Praca/3.Koncepty/Podrozdzial6/*.out
/Praca/3.Koncepty/Podrozdzial6/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial6/*.toc

/Praca/3.Koncepty/Podrozdzial7/*.aux
/Praca/3.Koncepty/Podrozdzial7/*.log
/Praca/3.Koncepty/Podrozdzial7/*.out
/Praca/3.Koncepty/Podrozdzial7/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial7/*.toc

/Praca/3.Koncepty/Podrozdzial8/*.aux
/Praca/3.Koncepty/Podrozdzial8/*.log
/Praca/3.Koncepty/Podrozdzial8/*.out
/Praca/3.Koncepty/Podrozdzial8/*.synctex.gz
/Praca/3.Koncepty/Podrozdzial8/*.toc

/Praca/3.Koncepty/Wprowadzenie/*.aux
/Praca/3.Koncepty/Wprowadzenie/*.log
/Praca/3.Koncepty/Wprowadzenie/*.out
/Praca/3.Koncepty/Wprowadzenie/*.synctex.gz
/Praca/3.Koncepty/Wprowadzenie/*.toc

/Praca/4.Przeciazanie/*.aux
/Praca/4.Przeciazanie/*.log
/Praca/4.Przeciazanie/*.out
/Praca/4.Przeciazanie/*.synctex.gz
/Praca/4.Przeciazanie/*.toc

/Praca/4.Przeciazanie/Podrozdzial1/*.aux
/Praca/4.Przeciazanie/Podrozdzial1/*.log
/Praca/4.Przeciazanie/Podrozdzial1/*.out
/Praca/4.Przeciazanie/Podrozdzial1/*.synctex.gz
/Praca/4.Przeciazanie/Podrozdzial1/*.toc

/Praca/4.Przeciazanie/Podrozdzial2/*.aux
/Praca/4.Przeciazanie/Podrozdzial2/*.log
/Praca/4.Przeciazanie/Podrozdzial2/*.out
/Praca/4.Przeciazanie/Podrozdzial2/*.synctex.gz
/Praca/4.Przeciazanie/Podrozdzial2/*.toc

/Praca/4.Przeciazanie/Podrozdzial3/*.aux
/Praca/4.Przeciazanie/Podrozdzial3/*.log
/Praca/4.Przeciazanie/Podrozdzial3/*.out
/Praca/4.Przeciazanie/Podrozdzial3/*.synctex.gz
/Praca/4.Przeciazanie/Podrozdzial3/*.toc

/Praca/4.Przeciazanie/Wprowadzenie/*.aux
/Praca/4.Przeciazanie/Wprowadzenie/*.log
/Praca/4.Przeciazanie/Wprowadzenie/*.out
/Praca/4.Przeciazanie/Wprowadzenie/*.synctex.gz
/Praca/4.Przeciazanie/Wprowadzenie/*.toc

/Praca/5.Ostatni/*.aux
/Praca/5.Ostatni/*.log
/Praca/5.Ostatni/*.out
/Praca/5.Ostatni/*.synctex.gz
/Praca/5.Ostatni/*.toc

/Praca/6.Euler/*.aux
/Praca/6.Euler/*.log
/Praca/6.Euler/*.out
/Praca/6.Euler/*.synctex.gz
/Praca/6.Euler/*.toc

/Program/*.out
/Program/*.exe
/Program/*.hpp.gch